//              COLORS

//              FONTS

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/roboto');

$primary-font : 'Poppins', sans-serif;

// map = "variavel", key = atributo
$font-weight : (
  "light" : 300,
  "regular" : 400,
  "medium" : 500,
  "bold" : 700 
);

.break{
    flex-basis: 100%;
    width: 0;
}